/*html{ font-size: 62.5%;}*/
.wrap{ width: 100%; max-width: 750px; text-align: center; overflow: hidden;}
.advert{
    width: 7.5rem;
    height: 3.36rem;
    background: url(../../static/images/draw_bg_02.jpg) no-repeat center top;
    background-size: cover;
    position: relative;
}
.draw_con{
    width: 7.5rem;
    height: 6.25rem;
    background: url(../../static/images/draw_bg_03.jpg) no-repeat center top;
    background-size: cover;
    position: relative;
}
.again_button{
    width: 7.5rem;
    height: 1.99rem;
    background: url(../../static/images/draw_bg_04.jpg) no-repeat center top;
    background-size: cover;
}
.win_list{
    width: 7.5rem;
    height: 4.05rem;
    background: url(../../static/images/draw_bg_05.jpg) no-repeat center top;
    background-size: cover;
}
.voice_img{
    width: 7.4%;
    top: 5%;
    right: 2%;
    position: absolute;
    display: inline-block;
}
.prizes_img{
    width: 25.2%;
    display: inline-block;
    position: absolute;
    right: 5%;
    z-index: 30;
}
.turntable_draw{
    width: 100%;
    box-sizing: border-box;
    position: relative;
    padding-top: 0.5rem;
}
.again_button_img{
    width: 75.46%;
    margin: 0 auto;
    padding-top: 0.5rem;
    cursor: pointer;
}
.win_list_con{
    width: 84.53%;
    margin: 0 auto;
    border-radius: 0.5rem;
    padding-top: 3rem;
}
.rotate_img{
    width: 5rem;
    z-index: 12;
    margin: 0 auto;
    padding-top: 0.38rem;
}
.rotate_img_active{
    width: 2.3rem;
    position: absolute;
    top: 50%;
    margin-left: -1.15rem;
    margin-top: -2.3rem;
    z-index: 12;
    left: 50%;
}
.win_list_con{
    width: 100%;
    margin: 0 auto;
    position: relative;
}
.win_list_tit{
    width: 28%;
    height: 0.82rem;
    line-height: 0.62rem;
    margin: 0 auto;
    color:white;
    font-size: 0.36rem;
    border-radius: 25px;
    background: #ff3d00;
    border:3px solid #ffde00;
    position: absolute;
    top:0;
    left:36%;
    box-sizing: border-box;
    z-index: 18;
}
.win_list_list{
    width: 84.5%;
    height: 3.1rem;
    line-height: 3.1rem;
    margin: 0 auto;
    border:3px solid #ffde00;
    position: absolute;
    top:0.4rem;
    left:7.25%;
    z-index: 13;
    border-radius: 10px;
    overflow: hidden;
    background: #fff7c3;
}
.win_list_list li{
    width: 100%;
    height: 0.44rem;
    line-height: 0.44rem;
    background: #f6eba6;
    margin-top: 0.1rem;
}
.win_list_list li:first-child{
    margin-top: 0.7rem;
}
.win_list_left{
    margin-left: 6%;
    float: left;
}
.win_list_right{
    float: right;
    margin-right: 6%;
}
/*弹框*/
.alert_wrap{
    width: 100%;
    height: 100%;
    background: url("../../static/images/bg.png") repeat;
    position: fixed;
    z-index: 99999;
    top:0;
}
.alert_wrap_con{
    width: 80.8%;
    height: 8.18rem;
    position: static;
    margin-left: 9.6%;
    margin-top: 2rem;
    background: white;
    background: url("../../static/images/alert_bg.png") no-repeat;
    background-size: cover;
    position: relative;
}
.paper_clip{
    width: 16.5%;
    height: 1.29rem;
    background: url(../../static/images/biezhen.png) no-repeat;
    background-size: contain;
    display: inline-block;
    position: absolute;
    margin-top: -0.4rem;
    margin-left: 0.2rem;
}
.colse{
    width: 6.7%;
    height: 0.65rem;
    background: url(../../static/images/close.png) no-repeat;
    background-size: contain;
    display: inline-block;
    position: absolute;
    margin-top: -0.65rem;
    right: 0.2rem;
}
.alert_con_text{
    width: 86.5%;
    margin: 0 auto;
}
.alert_con_text h3{
    font-family: 微软雅黑;
    color:#333;
    font-size: 0.4rem;
    text-align: center;
    padding-top: 0.35rem;
    padding-bottom: 0.35rem;
}
.alert_con_text li{
    display: inline-block;
    margin-bottom: 0.1rem;
}
.alert_con_text li i{
    width: 2.3%;
    height: 0.14rem;
    display: inline-block;
    vertical-align: top;
    margin-right: 2.5%;
    background: url("../../static/images/text_dian.png") no-repeat;
    background-size: contain;
}
.alert_con_text li p{
    width: 95%;
    display: inline-block;
    vertical-align: middle;
    font-size: 0.24rem;
    line-height: 0.43rem;
    margin-top: -0.1rem;
    font-family: 微软雅黑;
}
/*分享弹框*/
.alert_share_con{
    margin-right: 6.7%;
    margin-top: 0.1rem;
}
/*获得奖品弹框*/
.alert_draw_con{
    width: 80.8%;
    height: 7.8rem;
    margin:0 auto;
    margin-top: 2.88rem;
    background: url("../../static/images/get_gift_bg.png") no-repeat;
    background-size: contain;
}
.gift_close{
    width: 6.7%;
    height: 0.65rem;
    background: url(../../static/images/close.png) no-repeat;
    background-size: contain;
    display: inline-block;
    position: absolute;
    margin-top: -0.65rem;
    right: 11.5% !important;
}
.alert_gift_con{
    width: 67.16%;
    height: 3.06rem;
    margin:0 auto;
    padding-top: 1.23rem;
}
.alert_gift_text{
    margin-left: 26.4%;
    font-size: 0.28rem;
    color: #1a1a1a;
    display: inline-block;
    margin-top: 0.46rem;
}
.alert_gift_tip{
    font-size:0.24rem;
    font-family: 微软雅黑;
    color:#333333;
    text-align: center;

}
.alert_gift_tip span{
    color:#ff0101;
}
.alert_gift_button{
    width: 80.8%;
    margin:0 auto;
    position: relative;
    margin-top: 0.2rem;
    font-family: 微软雅黑;
    font-size: 0.32rem;
    color:white;
    text-align: center;
}
.alert_gift_see{
    width: 34%;
    height: 0.72rem;
    line-height: 0.52rem;
    display: inline-block;
    background: url(../../static/images/alert_small_button_03.png) no-repeat;
    background-size: contain;
    margin-left: 10%;
    margin-right: 10.6%;
}
.alert_gift_again{
    width: 34%;
    height:0.72rem;
    line-height: 0.52rem;
    display: inline-block;
    background: url("../../static/images/alert_small_button_05.png") no-repeat;
    background-size: contain;
    /*float: right;*/
}
/*谢谢参与弹框*/
.alert_thanks_con{
    width: 80.8%;
    height: 7.8rem;
    margin:0 auto;
    margin-top: 2.88rem;
    background: url("../../static/images/thank_bg.png") no-repeat;
    background-size: contain;
}
/*已经抽过奖*/
.alert_already_con{
    width: 80.5%;
    height: 4.76rem;
    background: url("../../static/images/alet_small_bg.png") no-repeat;
    background-size: contain;
    margin-left:9.75%;
    margin-top: 4rem;
    font-family: 微软雅黑;
    font-size: 0.24rem;
    color: #333333;
}
.alert_already_con h2{
    width: 100%;
    margin:0 auto;
    font-family: 微软雅黑;
    font-size: 0.4rem;
    color: #333333;
    text-align: center;
    padding-top: 0.5rem;
    padding-bottom: 0.4rem;
}
.alert_already_con p{
    text-align: center;
}
.clearfix{
    clear: both;
}
/*中奖详情页*/
.detail_draw_explain{
    position: relative;
}
.draw_detail{
    width: 85.3%;
    margin: 0 auto;
}
.draw_detail_text p{
    font-size: 0.32rem;
    color: white;
    text-align: center;
    padding: auto 0.3rem;
    text-align: left;
    padding-top: 0.55rem;
}
.draw_detail_con{
    width: 70.6%;
    margin: 0 auto;
    border: 3px solid #ffde00;
    border-radius: 20px;
    margin-top: 0.45rem;
}
.detail_con_img{
    border-radius: 16px;
    overflow: hidden;
}
.detail_mileage{
    font-family: 微软雅黑;
    font-size: 0.34rem;
    text-align: left;
    color: white;
}
.detail_mileage p{
    width: 56%;
    height: 0.9rem;
    line-height: 0.9rem;
    display: inline-block;
    float: left;
}
.purpose{
    width: 41.875%;
    height: 0.9rem;
    margin: 0 auto;
    background: url("../../static/images/detail_icon.png") no-repeat center top;
    background-size: cover;
    float: right;
    margin-right: 0.1rem;
}
.learn_icon{
    width: 41.875%;
    height: 0.9rem;
    margin: 0 auto;
    background: url("../../static/images/detail_icon_learn.png") no-repeat center top;
    background-size: cover;
    float: right;
    margin-right: 0.1rem;
}
.address{
    width: 41.875%;
    height: 0.9rem;
    margin: 0 auto;
    background: url("../../static/images/detail_icon_address.png") no-repeat center top;
    background-size: cover;
    float: right;
    margin-right: 0.1rem;
}
.explain{
   margin: 0 auto;
    font-size: 0.24rem;
    color:#ffbaba;
}
.explain p{
    width: 85.3%;
    position: absolute;
    text-align: left;
    line-height: 0.4rem;
    margin-top: 1rem;
}
.draw_detail_share{
    padding-top: 0.48rem;
}
.explain_text{
    padding-top: 0.1rem;
    padding-bottom: 0.8rem;
}
.explain_text_con{
    margin-top:0 !important;
}
